<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="../js/Vodka.js" defer></script>
    <link rel="stylesheet" type="text/css" href="../css/CssGeneral.css" media="screen" />
    <title>Bsale</title>
    
</head>
<body class="contairner-fluid row ">
    <nav class="navbar bg-light border-bottom border-secondary">
        <div class="container-fluid justify-content-around">
          <a class="navbar-brand" >Bsale test</a>
          <form class="d-flex  " role="search">
            <input class="form-control me-2 " type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </nav>
      <aside class="col-2 border-end border-secondary pe-0">
        <ul class="nav flex-column ">
            <li class="nav-item">
                <a class="nav-link p-4 text-black-50" href="./index.html">Todos los productos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link p-4 text-black-50" href="./Bebida.html">Bebida</a>
            </li>
            <li class="nav-item">
                <a class="nav-link p-4 text-black-50" href="./BebidaEnergetica.html">BEBIDA ENERGETICA</a>
            </li>
            <li class="nav-item">
                <a class="nav-link p-4 text-black-50" href="./Cerveza.html">CERVEZA</a>
            </li>
            <li class="nav-item">
                <a class="nav-link p-4 text-black-50" href="./Pisco.html">PISCO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link p-4 text-black-50" href="./Ron.html">RON</a>
            </li>
            <li class="nav-item">
                <a class="nav-link p-4 text-black-50" href="./Snack.html">SNACK</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active p-4 text-black-50" href="./Vodka.html">VODKA</a>
            </li>
          </ul>
      </aside>
      <div class="col-10 border border-secondary p-3  d-inline justify-content-start">
        <div id="producto" >
            
        </div>
      </div>
      
    
</body>
</html>